<!DOCTYPE html>
<html lang="<%= Organization.current.locale %>">
<head>
  <title><%= page_title subject %></title>
  <% unless input_kids? %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <% end %>

  <meta name="description" content="<%= Organization.current.description %>"/>



  <%= open_graph_tags subject %>
  <meta name="turbo-cache-control" content="no-cache">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>

  <link rel="icon" type="image/x-icon" href="<%= Organization.current.favicon_url %>" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="<%= theme_stylesheet_url %>" data-turbo-track="reload">
  <script type="text/javascript" src="<%= extension_javascript_url %>" defer data-turbo-track="reload"></script>

  <%= csrf_meta_tags %>
  <%= globals_tags %>
</head>
<body>

<%= hidden_field_tag "mu-user-id", current_user&.id %>
<%= hidden_field_tag "mu-organization-id", Organization.current.id %>

<%= yield :navbar %>

<div class="toast-container bottom-0 start-0 p-3">
  <%= render partial: 'layouts/toast' %>
</div>

<div class="<%= exercise_container_type %><%= ' mb-5' unless input_kids? %>" id="wrap">
  <%= yield %>
</div>

<%= yield :no_container %>

<%= yield :footer %>

</body>
</html>
